#!/bin/sh
#
# BEFORE: DAEMON
# PROVIDE: btsync.flavour.config
#

. /etc/rc.subr

name=btsync.flavour.config
start_cmd=flavour_setup

_c() {
  _cmd="$@"
  printf "%s [%s] %-40s" "$(date '+%b %d %T')" $name "CMD: $_cmd"
  eval "$_cmd" 
  _err=$?
  [ $_err -eq 0 ] && printf "[OK]\n" || printf "[Error]\n"
  return $_err 
}

_generate_config() {

  cat > ~btsync/.btsync.conf <<EOM
{
  "device_name": "SyncR.at",
  "listening_port" : $2,
  "storage_path" : "/usr/home/btsync/.sync",
  "pid_file" : "/usr/home/btsync/.btsync.pid",
  "check_for_updates" : false,
  "use_upnp" : false,
  "download_limit" : 0,
  "upload_limit" : 0,
  "webui" :
  {
    "listen" : "$1:8888",
    "login" : "btsync",
    "password" : "xxxxxx"
  }
}

EOM

}
flavour_setup() {

# Remove traces of ourself
# N.B.: Do NOT rm $0, it points to /etc/rc
##########################
  rm -f "/etc/rc.d/btsync.flavour.config"

# btsync setup
##########################

  _c pw useradd -n btsync -m
  _c mkdir ~btsync/.sync
  _c "echo FFFF > ~btsync/.sync/debug.txt"

  _IP=$(ifconfig | awk '/inet/ { print $2; exit }')
  _BTPORT=$(echo $_IP | awk '{ split($0,a,"\."); print 40000 + (a[3] * 256) + a[4] }')

  _c _generate_config $_IP $_BTPORT
  _c chown -R btsync:btsync ~btsync

}

run_rc_command "$1"
